@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  margin: 0;
}

.header {
  position: fixed;
  width: 100vw;
  height: 100px;
  background-color: #003473;
  opacity: 0.86;
  z-index: 3;
}

video {
  margin-top: -150px;
  width: 100vw;
  height: 1080px;
}

.logo {
  position: relative;
  top: 10px;
  left: 10vw;
  height: 87.71px;
  width: 120px;

}

.home {
  position: relative;
  top: -25px;
  left: 20vw;
  color: #fafafa;
  text-decoration: none;
  font-size: 18px;
}

.header a {
  color: #fafafa;
  text-decoration: none;
  font-size: 12px;
  font-family: "Red Hat Display", sans-serif;
}

.thecrew {
  position: relative;
  top: -25px;
  left: 22vw;
}

.events {
  position: relative;
  left: 24vw;
  top: -25px;
}

.news {
  position: relative;
  left: 26vw;
  top: -25px;
}

.virtualOfice {
  position: relative;
  left: 28vw;
  top: -25px;
}

.contact {
  position: relative;
  left: 30vw;
  top: -25px;
}

.btnNameHeader {
  position: relative;
  left: 32vw;
  top: -25px;
  width: 150px;
  height: 35px;
  background-color: #5ad3df;
  color: black;
  border-radius: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.fbicon {
  position: relative;
  left: 32vw;
  top: -25px;
  background-color: #ff7e54;
  display: inline-block;
  width: 46px;
  height: 44px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
}

.fbicon i {
  font-size: 20px;
  line-height: 44px;
}

.insta {
  position: relative;
  left: 40vw;
  top: -25px;
  background-color: #ff7e54;
  display: inline-block;
  width: 46px;
  height: 44px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
}
.insta i {
  font-size: 20px;
  line-height: 44px;
}

.comment {
  position: absolute;
  left: 80vw;
  top: 80vh;
  height: 98.48px;
  font-size: 100px;
  color: #ff7e54;
}

.joinus {
  position: absolute;
  left: 75vw;
  top: 95vh;
  width: 157px;
  height: 55px;
  background-color: #fafafa;
  border-radius: 28px;
  padding-top: 10px;
}

.joinus p {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", sans-serif;
}

.joinus span {
  font-size: 41px;
  background-color: #5ad3df;
  border-radius: 100%;
  padding: 10px;
}

.mouse {
  position: absolute;
  left: 50vw;
  top: 100vh;
}

#mousebar{
  width: 50px;
  rotate: 90deg;
  position: absolute;
  left: 49.8vw;
  top: 118vh;
}

.linea {
  height: 84px;
  position: absolute;
  left: 957px;
  top: 995px;
  border-right: 5px solid #ff7e54;
}

.imgevents {
  position: relative;
  left: 46vw;
  height: 100px;
  width: 150px;
}

.events-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 1080px;
}

.events-container h1 {
  position: relative;
  width: auto;
  left: 46vw;
  font-size: 50px;
  font-family: "Red Hat Display", sans-serif;
  color: #245086;
}

.gallery {
  margin-left: -50px;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  gap: 10px;
  
}

.eventsCard {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  text-align: center;
  background-color: #5AD3DF;
}

#card1{
background-image: url("sources/event1.jpg");
background-size: cover;
filter: brightness(50%);
}
#card2{
  background-image: url("sources/event2.jpg");
  background-size: cover;
  filter: brightness(50%);
}
#card3{
  background-image: url("sources/event3.jpg");
  background-size: cover;
  filter: brightness(50%);
}
#card4{
  background-image: url("sources/event4.jpg");
  background-size: cover;
  filter: brightness(50%);
}

.eventsCard h1 {

}

.eventsCard img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  filter: brightness(70%);
}

.eventsCard hr {
  position: relative;
  top: -120px;
  width: 64px;
  rotate: 90deg;
}

.events-container input {
  margin-top: 50px;
  width: 210px;
  height: 41px;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16px;
  background-color: #ff7e54;
  border: none;
  border-radius: 20px;
}

.events-container p {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
}

.figure {
  position: absolute;
  left: 1171px;
  top: 1469px;
  height: 590px;
  width: 750px;
  background-color: #e3e3e3;
  -webkit-border-radius: 150px 0px 0px 150px;
  -moz-border-radius: 150px 0px 0px 150px;
  border-radius: 150px 0px 0px 150px;
}

.sep {
  position: absolute;
  left: 865px;
  width: 189.5px;
  margin-top: 100px;
  rotate: 90deg;
}

.thecrewContainer {
  width: 1920px;
  height: 1080px;
  margin-top: 100px;
  background-color: #f5f5f5;
  z-index: 1;
}

.theCrewCard {
  position: absolute;
  margin-top: 140px;
  left: 140px;
  width: 1640px;
  height: 711px;
  border-radius: 20px;
  background-color: #fafafa;
  -webkit-box-shadow: -1px 2px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 10px -4px rgba(0, 0, 0, 0.75);
}

.theCrewCard h1 {
  font-size: 107px;
  font-family: "Red Hat Display", sans-serif;
  color: #154e85;
  font-weight: 400;
  margin-left: 100px;
  margin-top: 100px;
}

.theCrewCard h1 span {
  color: #ff7e54;
  font-weight: bold;
}

.theCrewCard input {
  width: 210px;
  height: 41px;
  color: white;
  background-color: #ff7e54;
  margin-left: 300px;
  border: none;
  border-radius: 20px;
}

.theCrewCard p {
  margin-left: 100px;
  margin-top: -50px;
  width: 741px;
  height: 188px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #666666;
}

.theCrewCard img {
  width: 718px;
  height: 592px;
  position: absolute;
  left: 850px;
  margin-top: -400px;
  border-radius: 40px;
}

.divcrew {
  position: absolute;
  display: flex;
  background-color: #ffffff;
  height: 252px;
  width: 554px;
  -webkit-box-shadow: -1px 2px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 10px -4px rgba(0, 0, 0, 0.75);
  z-index: 2;
  margin-top: 700px;
  left: 650px;
  border-radius: 20px;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.element {
  padding-top: 50px;
  padding: 10px;
  width: 270px;
}

.element img {
  margin-bottom: -30px;
}

.element h1 {
  color: #ff7e54;
  font-family: "Red Hat Display", sans-serif;
  font-size: 63px;
  margin-bottom: 20px;
}

.element p {
  color: #235286;
  font-family: "Red Hat Display", sans-serif;
  font-size: 20px;
}

.divcrew hr {
  margin-top: 70px;
  height: 127px;
  color: #235286;
}

.divnews {
  width: 1910px;
  height: 1100px;
  margin-top: 100px;
  background-image: url("sources/gradient.svg");
}



#element1{
  font-family: "Poppins", sans-serif;
  width: 300px;
  height: 300px;
  color: #F1F5F8;
}
#element2{
  font-family: "Poppins", sans-serif;
  width: 300px;
  height: 300px;
  color: #F1F5F8;
}
#element3{
  font-family: "Poppins", sans-serif;
  width: 300px;
  height: 300px;
  color: #F1F5F8;
}
#element4{
  font-family: "Poppins", sans-serif;
  width: 300px;
  height: 300px;
  color: #F1F5F8;
}

#element1 :nth-child(1){
  position: relative;
  left: 50px;
  top: -570px;
  font-size: 18px;
  width: 200px;
  color: white;
}

#element1 :nth-child(2){
  position: relative;
  left: 50px;
  top: -600px;
  font-size: 36px;
  width: 200px;
  color: white;
  
}

#element1 :nth-child(3){
  position: relative;
  left: 50px;
  top: -900px;
  font-size: 18px;
  width: 300px;
  color: white;
}

#element1 :nth-child(4){
  position: relative;
  left: 100px;
  top: -900px;
  color: #003473;
  background-color: #5AD3DF;
}

#element2 :nth-child(1){
  position: relative;
  left: 50px;
  top: -420px;
  font-size: 18px;
  width: 200px;
  color: white;
}

#element2 :nth-child(2){
  position: relative;
  left: 50px;
  top: -450px;
  font-size: 36px;
  width: 200px;
  color: white;
  
}

#element3 :nth-child(1){
  position: relative;
  left: 50px;
  top: -420px;
  font-size: 18px;
  width: 200px;
  color: white;
}

#element3 :nth-child(2){
  position: relative;
  left: 50px;
  top: -450px;
  font-size: 36px;
  width: 200px;
  color: white;
  
}

#element4 :nth-child(1){
  position: relative;
  left: 50px;
  top: -420px;
  font-size: 18px;
  width: 200px;
  color: white;
}

#element4 :nth-child(2){
  position: relative;
  left: 50px;
  top: -450px;
  font-size: 36px;
  width: 200px;
  color: white;
  
}

.divnews hr {
  position: absolute;
  left: 832px;
  margin-top: 5px;
}

.imgnews {
  height: 110px;
  width: 110px;
  position: absolute;
  margin-top: 100px;
  left: 873px;
}

.divnews h1 {
  position: absolute;
  margin-top: 200px;
  left: 785px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 60px;
  font-weight: lighter;
  color: #ff7e54;
}

.divnews h1 span {
  color: white;
  font-weight: bold;
}

.divnews p {
  position: absolute;
  margin-top: 300px;
  left: 785px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.cardsnewsContainer {
  display: flex;
  gap: 20px;
  padding-top: 210px;
  padding-left: 140px;
}

.newscards {
  height: 528px;
  width: 398px;
}

.newscards img {
  height: 528px;
  width: 398px;
  border-radius: 30px;
}

.date {
  text-align: center;
  position: relative;
  left: 50px;
  top: 157px;
  height: 157px;
  width: 98px;
  background-color: #ff7e54;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.date h2 {
  position: absolute;
  margin-top: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1;
}

.date h2 span {
  font-size: 50px;
  font-weight: 900;
}

.divnews input {
  position: relative;
  left: 850px;
  top: 200px;
  width: 210px;
  height: 41px;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16px;
  background-color: #ff7e54;
  border: none;
  border-radius: 20px;
}

.patch {
  position: relative;
  height: 20px;
  width: 700px;
  background-color: white;
  left: 500px;
  top: 300px;
}

.line {
  position: absolute;
  left: 832px;
  margin-top: 5px;
}

.divmemories {
  width: 1910px;
  height: 1100px;
  margin-top: 100px;
}

.divmemories hr {
  margin-top: -145px;
  margin-left: 45px;
  width: 100px;
}

#icon {
  margin-left: 30px;
}

.divmemories h1 {
  position: relative;
  left: 820px;
  top: 200px;
  font-size: 60px;
  color: #245086;
  font-family: "Red Hat Display", sans-serif;
}

.container {
  display: flex;
  position: relative;
  top: 200px;
  height: 500px;
  margin-left: 220px;
  flex-wrap: wrap;
  gap: 10px;

}

.container img{
  border-radius: 20px;
}

.divmemories input{
  position: relative;
  left: 850px;
  top: 320px;
  width: 210px;
  height: 41px;
  color: white;
  background-color: #5AD3DF;
  border: none;
  border-radius: 20px;
}

.newmanSoundtrack{
  width: 1910px;
  height: 600px;
  background: rgb(42,197,182);
background: linear-gradient(264deg, rgba(42,197,182,1) 0%, rgba(0,0,0,1) 100%);
}

.newmanSoundtrack img{
  position: relative;
  top: -140px;
}

#spotify{
  top: -215px;
}

.newmanSoundtrack h1{
  position: relative;
  top: -400px;
  left: 420px;
  font-size: 80px;
  font-family: "Red Hat Display", sans-serif;
  color: white;
}

#soundtracklabel{
  top: -480px;
  left: 490px;
}

.form{
  display: flex;
 
  margin-top: 100px;
  width: 1640px;
  height: 755px;
  background-color: #F5F5F5;
  margin-left: 140px;
  border-radius: 30px;
  padding-left: 53px;
  padding-top: 60px;
}

.form h1{
  
  font-family: "Red Hat Display", sans-serif;
  font-size: 107px;
  font-weight: 500;
  color: #245086;

}
.form h1 span{
  font-weight: bold;
  color:#ff7e54;
}

.form p{
  position: relative;
  top: -70px;
  width: 640px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #285C58;
}



.formImage{
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.inputs{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  top: -70px;
  width: 50%;
  height: 500px;
}

.inputs input{
  border: 1px solid #707070;
  border-radius: 30px;
  text-align: center;
  width: 647px;
  height: 40px;
}

.inputs input::placeholder{
  color: #666666;
  font-family: "Helvetica Neue", sans-serif;
  opacity: 0.87;
}

#message{
  height: 117px;
}

#message::placeholder{
  position: absolute;
  top: 0;
  left: 45%;  
}

.inputs input[type="button"] {
  position: relative;
  left: 210px;
  width: 222px;
  height: 43px;
  background-color: #ff7e54;
  border: none;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: white;
}


.imgBadge{
  position: relative;
  top: -225px;
  left: -200px;
  display: flex;
  background-color: #ff7e54;
  width: 124px;
  height: 158px;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
}

.imgBadge img{
  width: 96.54px;
  height: 43.42px;
}

footer{
  height: 500px;
  background-image: url(sources/footer.png);
  background-repeat:no-repeat;
}

.logofooter{
  position: relative;
  left: 176px;
  top: 150px;
  text-align: center;
  height: 200px;
  width: 500px;
  font-family: Helvetica;
  font-size: 26px;
  color: #FFFFFF;
}

.socialmedias{
  position: relative;
  left: 883px;
  top: -40px;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
    width: 200px;
  height: 200px;
  text-align: center;
}

.socialmedias span{
  position: relative;
  top: 10px;
}

.divicons{
  display: flex;
  gap: 50px;
  justify-content: center;
  
}
.divicons h1{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: white;
  color: #245086;
}

.suscribeform{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  position: relative;
  left: 1280px;
  width: 550px;
  height: 300px;
  top: -250px;
}

.suscribeform h2{
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

#email{
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 30px;
  margin-top: -30px;
  margin-left: 30px;
  border-bottom: 1px solid #ff7e54;
  background-color: #FAFAFA;
}

#email::placeholder{
  text-align: center;
}

#btnform{
  width: 222px;
  height: 43px;
  border: none;
  background-color: #ff7e54;
  border-radius: 30px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  margin-left: 165px;
}

.tyc{
  position: relative;
  top: -300px;
  left: 600px;
  width: 500px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}