@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  margin: 0;
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  height: 120px;
  background-color: #003473;
  opacity: 0.86;
  z-index: 3;
}

.headercontainer {
  margin-left: 20%;
  margin-top: 3%;
  margin-right: 2%;
  display: flex;
  justify-content: space-around;
}

.mobileMenu{
  display: none;
  position: absolute;
  left: 70%;
}

@media (max-width: 767px) {
  .headercontainer{
    display: none;
  }

  .mobileMenu{
    display: block;
  }

  .video{
    background-color: #235286;
    width: 100vw;
  }
}

video {
  margin-top: -44px;
  width: 100%;
  height: 1080px;
}

.logo {
  position: absolute;
  left: 100px;
  height: 87.71px;
  width: 120px;
}

.home {
  top: 51px;
  color: #fafafa;
  text-decoration: none;
  font-size: 18px;
}

.header a {
  color: #fafafa;
  text-decoration: none;
  font-size: 18px;
  font-family: "Red Hat Display", sans-serif;
}

.thecrew {
  top: 51px;
}

.events {
  top: 51px;
}

.news {
  top: 51px;
}

.virtualOfice {
  top: 42px;
  width: 70px;
  text-align: center;
}

.contact {
  top: 51px;
}

.btnNameHeader {
  top: 39px;
  width: 210px;
  height: 41px;
  background-color: #5ad3df;
  color: black;
  border-radius: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.fbicon {
  top: 37px;
  background-color: #ff7e54;
  display: inline-block;
  width: 46px;
  height: 44px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
}

.fbicon i {
  font-size: 20px;
  line-height: 44px;
}

.insta {
  background-color: #ff7e54;
  display: inline-block;
  width: 46px;
  height: 44px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
}
.insta i {
  font-size: 20px;
  line-height: 44px;
}

.comment {
  position: absolute;
  left: 80%;
  top: 70%;
  width: 98.48px;
  height: 98.48px;
  font-size: 100px;
  color: #ff7e54;
}

.joinus {
  position: absolute;
  left: 75%;
  top: 86%;
  width: 157px;
  height: 55px;
  background-color: #fafafa;
  border-radius: 28px;
  padding-top: 10px;
}

.joinus p {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", sans-serif;
  color: #707070;
}

.joinus span {
  font-size: 41px;
  background-color: #5ad3df;
  border-radius: 100%;
  padding: 10px;
}

.mouse {
  position: absolute;
  left: 50%;
  top: 117%;
}

.mouse h1 {
  position: absolute;
  color: #ff7e54;
  font-size: 70px;
  left: 17px;
  top: 10px;
}

.imgevents {
  height: 100px;
  width: 150px;
  margin-left: 45px;
}

.events-container {
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1080px;
}

.events-container h1 {
  font-size: 60px;
  font-family: "Red Hat Display", sans-serif;
  color: #245086;
  margin-left: 40px;
  z-index: 2;
}

.gallery {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  gap: 16px;
}

.eventsCard {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  text-align: center;
}

.eventsCard h1 {
  position: absolute;
  font-size: 30px;
  margin-top: 100px;
  margin-left: 50px;
  color: white;
  z-index: 2;
}

.eventsCard img {
  border-radius: 20px;
  filter: brightness(70%);
  width: 200px;
}

.eventsCard hr {
  position: relative;
  top: -80px;
  width: 40px;
  rotate: 90deg;
}

.events-container input {
  margin-top: 50px;
  width: 210px;
  height: 41px;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16px;
  background-color: #ff7e54;
  border: none;
  border-radius: 20px;
}

.events-container p {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
}

.figure {
  position: absolute;
  margin-top: 190px;
  right: 0;
  height: 400px;
  width: 580px;
  background-color: #e3e3e3;
  -webkit-border-radius: 150px 0px 0px 150px;
  -moz-border-radius: 150px 0px 0px 150px;
  border-radius: 150px 0px 0px 150px;
  z-index: 0;
}

#sep {
  color: #ff7e54;
  rotate: 90deg;
  margin-top: 200px;
}

.thecrewContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1080px;
  margin-top: -50px;
  background-color: #f5f5f5;
  z-index: 1;
}

.theCrewCard {
  position: absolute;
  margin-top: 140px;
  margin-left: 10%;
  margin-right: 10%;
  width: 1150px;
  height: 711px;
  border-radius: 20px;
  background-color: #fafafa;
  -webkit-box-shadow: -1px 2px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 10px -4px rgba(0, 0, 0, 0.75);
}

.theCrewCard h1 {
  font-size: 90px;
  font-family: "Red Hat Display", sans-serif;
  color: #154e85;
  font-weight: 400;
  margin-left: 50px;
  margin-top: 100px;
}

.theCrewCard h1 span {
  color: #ff7e54;
  font-weight: bold;
}

.theCrewCard input {
  width: 210px;
  height: 41px;
  color: white;
  background-color: #ff7e54;
  margin-left: 150px;
  border: none;
  border-radius: 20px;
}

.theCrewCard p {
  margin-left: 50px;
  margin-top: -50px;
  width: 400px;
  height: 188px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #666666;
}

.theCrewCard img {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 500px;
  margin-top: -350px;
  border-radius: 40px;
}

.divcrew {
  position: absolute;
  display: flex;
  background-color: #ffffff;
  height: 200px;
  width: 550px;
  -webkit-box-shadow: -1px 2px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 10px -4px rgba(0, 0, 0, 0.75);
  z-index: 2;
  margin-top: 700px;
  left: 30%;
  border-radius: 20px;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.element {
  padding-top: 50px;
  padding: 10px;
  width: 270px;
}

.element img {
  margin-bottom: -30px;
}

.element h1 {
  color: #ff7e54;
  font-family: "Red Hat Display", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}

.element p {
  color: #235286;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
}

.divcrew hr {
  margin-top: 70px;
  height: 100px;
  color: #235286;
}

.divnews {
  width: 100%;
  height: 1100px;
  background-image: url("../sources/gradient.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#element1 {
  font-family: "Poppins", sans-serif;
  width: 300px;
  height: 300px;
  color: #f1f5f8;
}
#element2 {
  font-family: "Poppins", sans-serif;
  width: 300px;
  height: 300px;
  color: #f1f5f8;
}
#element3 {
  font-family: "Poppins", sans-serif;
  width: 300px;
  height: 300px;
  color: #f1f5f8;
}
#element4 {
  font-family: "Poppins", sans-serif;
  width: 300px;
  height: 300px;
  color: #f1f5f8;
}

#element1 :nth-child(1) {
  position: relative;
  left: 50px;
  top: -570px;
  font-size: 18px;
  width: 200px;
  color: white;
}

#element1 :nth-child(2) {
  position: relative;
  left: 50px;
  top: -600px;
  font-size: 36px;
  width: 200px;
  color: white;
}

#element1 :nth-child(3) {
  position: relative;
  left: 50px;
  top: -900px;
  font-size: 18px;
  width: 300px;
  color: white;
}

#element1 :nth-child(4) {
  position: relative;
  left: 100px;
  top: -900px;
  color: #003473;
  background-color: #5ad3df;
}

#element2 :nth-child(1) {
  position: relative;
  left: 50px;
  top: -420px;
  font-size: 18px;
  width: 200px;
  color: white;
}

#element2 :nth-child(2) {
  position: relative;
  left: 50px;
  top: -450px;
  font-size: 36px;
  width: 200px;
  color: white;
}

#element3 :nth-child(1) {
  position: relative;
  left: 50px;
  top: -420px;
  font-size: 18px;
  width: 200px;
  color: white;
}

#element3 :nth-child(2) {
  position: relative;
  left: 50px;
  top: -450px;
  font-size: 36px;
  width: 200px;
  color: white;
}

#element4 :nth-child(1) {
  position: relative;
  left: 50px;
  top: -420px;
  font-size: 18px;
  width: 200px;
  color: white;
}

#element4 :nth-child(2) {
  position: relative;
  left: 50px;
  top: -450px;
  font-size: 36px;
  width: 200px;
  color: white;
}

.imgnews {
  height: 110px;
  width: 110px;
}

.containernew {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
  text-align: center;
}

.containernew h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 40px;
  font-weight: lighter;
  color: #ff7e54;
}

.containernew h1 span {
  color: white;
  font-weight: bold;
}

.containernew p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.cardsnewsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 300px;
  padding-top: 40px;
}

.newscards {
  height: 250px;
  width: 250px;
}

.newscards p {
  font-size: 10px;
  margin-top: -60px;
}

.lorem {
  width: 200px;
}

#img1 {
  position: absolute;
  height: 250px;
  width: 250px;
  z-index: 0;
  border-radius: 20px;
}

.date {
  text-align: center;
  position: relative;
  left: 20px;
  top: 0px;
  height: 80px;
  width: 60px;
  background-color: #ff7e54;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.date h2 {
  position: absolute;
  margin-top: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 1;
}

.date h2 span {
  font-size: 30px;
  font-weight: 900;
}

.divnews input {
  width: 200px;
  height: 25px;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 12px;
  background-color: #5ad3df;
  border: none;
  border-radius: 20px;
  margin-left: 5px;
}

.infocardnews {
  position: relative;
  width: 300px;
  font-family: "poppins";
  color: white;
  padding-left: 20px;
  top: 5px;
}

#item1 {
  margin-top: 55px;
}

#item1 :nth-child(2) {
  margin-top: -5px;
}
#item1 :nth-child(3) {
  margin-top: -10px;
}
#card {
  top: 150px;
}

.line {
  position: absolute;
  left: 832px;
  margin-top: 5px;
}

.divmemories {
  width: 100%;
  height: 1100px;
  margin-top: -200px;
}

.memories {
  position: relative;
  left: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  width: 200px;
  height: 200px;
  color: #245086;
  font-family: "Red Hat Display", sans-serif;
  font-size: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea tres columnas iguales */
  grid-template-rows: repeat(2, auto); /* Crea dos filas de altura automática */
  grid-template-rows: 200px 300px 250px;
  grid-gap: 5px; /* Agrega un espacio entre las imágenes */
  max-width: 900px; /* Establece un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor */
}

.container img {
  width: 300px; /* La imagen ocupa todo el espacio del contenedor */
  height: 200px; /* La altura se ajusta automáticamente para mantener la proporción */
  border-radius: 10px;
}

.divmemories input {
  position: absolute;
  margin-top: -200px;
  left: 45%;
  width: 210px;
  height: 41px;
  color: white;
  background-color: #5ad3df;
  border: none;
  border-radius: 20px;
}

.newmanSoundtrack {
  width: 100%;
  height: 400px;
  background: rgb(42, 197, 182);
  background: linear-gradient(
    264deg,
    rgba(42, 197, 182, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );

  display: flex;
  margin-top: -20px;
}

.pic1{
  width: 50%;

}

.pic2{
  width: 50%;

  display: flex;
}
.pic2 img{
  position: absolute;
  margin-top: 50px;
  left: 60%;
  width: 300px;
  height: 300px;
}
.pic1 img{
  width: 50%;
  height: 600px;
  margin-top: -200px;
  position: absolute;
  left: -20px;
  z-index: 0;
}
.pic1 h1 {
  position: absolute;
  font-size: 60px;
  font-family: "Red Hat Display", sans-serif;
  color: white;
  margin-top: 200px;
  left: 15%;
}



.form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 80%;
  height: 600px;
  background-color: #F5F5F5;
  margin-left: 5%;
  padding-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
}

.formContent{
  width: 50%;
}

.formContent h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 90px;
  font-weight: 500;
  color: #245086;
}
.formContent h1 span {
  font-weight: bold;
  color: #ff7e54;
}

.formContent p {
  position: relative;
  top: -70px;
  width: 400px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #285c58;
}

.formImage {
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.formImage img{
  width: 600px;
}

.inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  top: -70px;
  width: 50%;
  height: 500px;
}

.inputs input {
  border: 1px solid #707070;
  border-radius: 30px;
  text-align: center;
  width: 400px;
  height: 40px;
}

.inputs input::placeholder {
  color: #666666;
  font-family: "Helvetica Neue", sans-serif;
  opacity: 0.87;
}

#message {
  height: 117px;
}

#message::placeholder {
  position: absolute;
  top: 0;
  left: 45%;
}

.inputs input[type="button"] {
  position: relative;
  left: 50%;
  width: 222px;
  height: 43px;
  background-color: #ff7e54;
  border: none;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: white;
}

.imgBadge {
  position: relative;
  top: -167px;
  left: -150px;
  display: flex;
  background-color: #ff7e54;
  width: 100px;
  height: 138px;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
}

.imgBadge img {
  width: 96.54px;
  height: 43.42px;
}

footer {
  height: 500px;
  background-image: url(../sources/footer.png);
  background-repeat: no-repeat;
}

.logofooter {
  position: relative;
  left: 10%;
  top: 150px;
  text-align: center;
  height: 200px;
  width: 300px;
  font-family: Helvetica;
  font-size: 15px;
  color: #ffffff;
}

.socialmedias {
  position: relative;
  left: 40%;
  top: -40px;
  font-family: Helvetica;
  font-size: 15px;
  color: white;
  width: 200px;
  height: 200px;
  text-align: center;
}

.socialmedias span {
  position: relative;
  top: 10px;
}

.divicons {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.divicons h1 {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: white;
  color: #245086;
}

.suscribeform {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  left: 70%;
  width: 300px;
  height: 250px;
  top: -260px;

}

.suscribeform h2 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

#email {
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 30px;
  margin-top: -30px;
  margin-left: 30px;
  border-bottom: 1px solid #ff7e54;
  background-color: #fafafa;
}

#email::placeholder {
  text-align: center;
}

#btnform {
  width: 222px;
  height: 43px;
  border: none;
  background-color: #ff7e54;
  border-radius: 30px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  margin-left: 10%;
}

.tyc {
  width: 100%;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: -230px;
  text-align: center;
}
